body {
    background-color: lightgrey;
}

/* Nav */

nav {
    background-color: white;
    position: fixed;
    width: 100%;
}

nav>div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
}

nav>div>div>p {
    padding: 10px;
    font-size: 20px;
}

i {
    transform: rotate(-45deg);
    font-size: 30px;;
    margin-right:5px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 30px;
    height: 30px;
}

#burger {
    height: 30px;
    width: 30px;
    display: none;
    fill: blue;
    border: 2px solid blue;
    padding: 5px;
}

/* section 1 */

#section1 {
    padding-top: 100px;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

h3 {
    margin-bottom: 30px;
}

#section1image {
    width: 60%;
}

#section1image>img {
    width: 95%;
    border: 30px solid white;
}

#section1cards {
    width: 37%;
}

#card {
    padding: 20px;
    background-color: white;
}

#logocards {
    width:120px;
    height:120px;
    float: left;
    margin-top:-5px;
    margin-left: -20px;
    padding-right: 60px;
}

h4 {
    font-weight: bold;
    padding-bottom: 20px;
}

#card {
    padding-left: 80px;
}

#card a {
    color: black;
    box-shadow: 3px 3px lightgrey;
    padding: 5px;
}

#card p {
    padding-bottom:20px;
}

#tableau {
    margin-top: 60px;
    background-color: white;
    padding: 40px;
}

tr td{
    border: 2px solid grey;
    background-color: white;
    padding: 5px;
}

table {
    width: 100%;
}

.taillecolonne1 {
    width: 70%;
    font-weight: bold;
}

.taillecolonne2 {
    width: 50%;
}

/* section 2 */

#section2 {
    width: 90%;
    margin: 50px auto;
}

#section2 div {
    width: 58%;
    background-color: white;
    padding: 20px;
}

#section2 div h1 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

h5 {
    font-size: 15px;
    padding-bottom: 20px;
}

#section2 div p:last-child {
    font-size: 20px;
}

/* footer */

footer {
    width: 100%;
    background-color: white;
}

footer section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer section article {
    width: 20%;
    padding: 10px;
}

#article1 p:first-child {
    font-size: 20px;
}

#article1 p:last-child {
    margin-top:20px;
}

article a {
    text-decoration: none;
    color: black;
}

#article2 p{
    margin-bottom: 30px;
}

#article3 p {
    margin-bottom: 30px;
}

#article4 p {
    margin-bottom: 30px;
}

footer>p {
    margin-top: 30px;
    margin-left: 100px;
}

footer>div {
    width:90%;
    margin: 40px auto 0 auto;
    padding-left:20px;
    padding-bottom: 40px;
}

/* Media querry mobile*/

@media only screen and (max-width:768px) {

    #burger {
        display: block;
        margin: 5px 5px 0 0;
    }

    nav>div>div>ul {
        display: none;
    }

    #section1 {
        display: block;
    }

    #section1image {
        width: 96%;
        margin: 0 auto 40px 0;
    }

    #section1cards {
        width:100%;
    }

    #card {
        padding-left: 40px;
    }

    #logocards {
        float: none;
        margin-left:0;
    }

    #section2>div{
        width:100%;
        padding-right:0;
        padding-left: 0;
    }

    #section2>div>h1 {
        margin-left:10px;
    }

    #section2>div>h5 {
        padding-left:10px;
    }

    #section2>div>p {
        padding-left:10px;
        padding-right: 10px;
    }

    footer section {
        display: block;
    }

    footer section article {
        width:100%;
    }

}

/* Media querry tablette */

@media only screen and (min-width:769px) and (max-width:1024px) {

    #section1 {
        display: block;
    }

    #section1image {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    #section1cards {
        width:90%;
        margin: auto 55px;
    }

    #section1cards>div {
        display: flex;
        justify-content: space-between;
    }

    #card,#tableau {
        width:49%;
        margin: auto 0;
    }

    #card {
        margin-right:10px;
    }

    #logocards {
        padding-right:30px;
    }

    #tableau {
        padding: 43px;
    }

    #section2 div{
        width:90%;
        margin: auto;
    }
}